.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;

}

.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .option {
    display: block;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    background: #62baea;
    color: #fff;
}

.dropdown .option div ion-icon {
    position: relative;
    top: 4px;
}

.image-slider {
    width: 500px;
    height: 500px;
    position: relative;
    background-image: url('../img/p5.webp');
    background-size: cover;
}

.product-images {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-images img.active {
    opacity: 0.5;
}

.details .Address {
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des {
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 40px;
}

.product-sub-heading {
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.btn {
    display: flex;
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    text-transform: capitalize;
}

.cart-btn {
    display: flex;
    margin-right: 2%;
    background: #383838;
    color: #fff;
}

.detail-des {
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.des {
    color: #383838;
    line-height: 25px;
}